## Shib Application(Shibboleth Authentication Application) http server port
shib_http_port=8000

## The Shib Application will redirect for fogbow-gui url
fogbow_gui_url=http://fogbow-gui.lsd.ufcg.edu.br

## Shib Application private key path
ship_private_key_path=/certs/shi_app_private_key.pem
 
## Resource Allocation Service public key path
as_public_key_path=/certs/ras_public_key.pem

## Service Provider(SP) machine(Apache + Shibboleth) ip
service_provider_machine_ip=10.10.10.10
